<!DOCTYPE html>
<html lang="ko">

<head>
<link rel="stylesheet" type="text/css" href="https://t1.daumcdn.net/tistory_admin/lib/lightbox/css/lightbox.min.css" /><link rel="stylesheet" type="text/css" href="https://t1.daumcdn.net/tistory_admin/assets/blog/tistory-4143aead47fb3d3c83016433af84643a03241408/blogs/style/content/font.css?_version_=tistory-4143aead47fb3d3c83016433af84643a03241408" /><link rel="stylesheet" type="text/css" href="https://t1.daumcdn.net/tistory_admin/assets/blog/tistory-4143aead47fb3d3c83016433af84643a03241408/blogs/style/content/content.css?_version_=tistory-4143aead47fb3d3c83016433af84643a03241408" /><!--[if lt IE 9]><script src="https://t1.daumcdn.net/tistory_admin/lib/jquery/jquery-1.12.4.min.js"></script><![endif]--><!--[if gte IE 9]>
<!--><script src="https://t1.daumcdn.net/tistory_admin/lib/jquery/jquery-3.2.1.min.js"></script><!--<![endif]-->
<script src="https://t1.daumcdn.net/tistory_admin/lib/lightbox/js/lightbox-plus-jquery.min.js"></script>
<script>
lightbox.options.fadeDuration = 200;
lightbox.options.resizeDuration = 200;
lightbox.options.wrapAround = false;
lightbox.options.albumLabel = "%1 / %2";
</script>

<script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"WebSite","url":"\/","potentialAction":{"@type":"SearchAction","target":"\/search\/{search_term_string}","query-input":"required name=search_term_string"}}</script>
<!-- END STRUCTURED_DATA -->


  <title>Pass-Path</title>
  <meta name="title" content="PASS-PATH" />
  <meta name="description" Content="여행 경로 리커맨더" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

  <link rel="stylesheet" href="https://t1.daumcdn.net/tistory_admin/static/font/AvenirLTStd/AvenirLTStd.css" />
  <link rel="stylesheet" href="https://t1.daumcdn.net/tistory_admin/static/font/SpoqaHanSans/SpoqaHanSans.css" />
  <link rel="stylesheet" href="https://t1.daumcdn.net/tistory_admin/static/font/icomoon/icomoon.css" />
  <link rel="stylesheet" href="https://tistory3.daumcdn.net/tistory/0/xf_Portfolio/style.css" />
  <link rel="stylesheet" href="https://tistory3.daumcdn.net/tistory/0/xf_Portfolio/images/slick.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://tistory3.daumcdn.net/tistory/0/xf_Portfolio/images/slick.js"></script>
  <script src="https://tistory3.daumcdn.net/tistory/0/xf_Portfolio/images/common.js"></script>
  <script src="https://unpkg.com/vh-check/dist/vh-check.min.js"></script>
  <script>
    (function () {
      // initialize the test
      var test = vhCheck();
    }());
  </script>

<link rel="stylesheet" type="text/css" href="https://t1.daumcdn.net/tistory_admin/assets/blog/tistory-4143aead47fb3d3c83016433af84643a03241408/blogs/plugins/TistoryProfileLayer/style.css?_version_=tistory-4143aead47fb3d3c83016433af84643a03241408" />
<script type="text/javascript" src="https://t1.daumcdn.net/tistory_admin/assets/blog/tistory-4143aead47fb3d3c83016433af84643a03241408/blogs/plugins/TistoryProfileLayer/profile.js?_version_=tistory-4143aead47fb3d3c83016433af84643a03241408"></script>
</head>

<body id="tt-body-index" class="theme_blue">

	<script type="text/javascript" src="https://t1.daumcdn.net/tistory_admin/assets/blog/tistory-4143aead47fb3d3c83016433af84643a03241408/blogs/script/owner.js?_version_=tistory-4143aead47fb3d3c83016433af84643a03241408"></script>
<script type="text/javascript" src="https://t1.daumcdn.net/tistory_admin/assets/blog/tistory-4143aead47fb3d3c83016433af84643a03241408/blogs/script/blog/common.js?_version_=tistory-4143aead47fb3d3c83016433af84643a03241408"></script>
<div style="margin:0; padding:0; border:none; background:none; float:none; clear:none; z-index:0"></div>
    <!-- warp / 테마 변경시 theme_pink / theme_blue / theme_green / theme_gray-->
    <div id="wrap">

      <!-- box_header -->
      <header class="box_header">
        <h1 class="title_logo">
          <a href="/" title="Pass-Path" class="link_logo">

              Pass-Path
            
          </a>
        </h1>
      </header>

      <div id="container">
    <main id="main">

        <div class="area_cover">
          
              <!-- type_featured -->
              <div class="type_featured">

                    <div class="slide_item">
                      <div class="link_slide item-thumbnail" style="background-image:url('https://tistory4.daumcdn.net/tistory/1978677/skinCover/fcb080e7767a4941964dfee78420025e');">
                        <div class="text_slide thema_apply">
                          <strong>Pass-Path</strong>
                            <p class="text">여행지와 가고 싶은 장소만 선택하면<br>
                                            경로가 자동으로 완성되는<br>
                                            쉽고 간편한 여행 경로 리커맨더</p>
                          <a href="/pass" class="link_detail">들를 곳 찾기</a><br>
                          <a href="/near" class="link_detail">내 주변 장소</a>
                        </div>
                      </div>
                    </div>

                <div class="inner_main_slide">

                </div>
              </div>
              <!-- // type_featured -->
            </div>
    </main>
    </div>

    <footer id="footer">
      <div class="inner_footer">
          <a href="" class="link_footer">ERASER</a>
      </div>
      <div>
        <address>© 2020 Pass-Path. All rights reserved.</address>
      </div>
    </footer>

    </div>
</html>
